body {
  /* background-color: white; */
}

.webpage {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 5vh;
}

/* g1 */
.day {
  background-color: white;
  color: black;
}

.night {
  background-color: rgba(26, 26, 26);
  color: white;
}

.xmas {
  background-color: black;
  color: white;
}

#header {
  text-align: center;
  margin-bottom: 0%;
}

.searchscreen {
  display: flex;
  column-gap: 5vw;
}

.playerbox {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  row-gap: 5vh;
}

.topnavbar {
  display: flex;
}

.vidnavbar {
  display: flex;
}

/* .lyricbox {
  width: 500px;
  height: 500px;
  margin: auto;
} */

.relatedvids {
  display: flex;
  flex-flow: column;
  width: 500px;
  height: 500px;
  margin: auto;
  align-items: center;
  border: 1px solid lightgrey;
}

.rvidthumbnail {
  width: 250px;
  height: 180px;
}

.rvidtitle {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

/* .displayWindow2:hover, */
.displayWindow2 {
  position: relative;
  margin: 1%;
  padding-left: 5px;
  display: flex;
  font-size: 17px;
  /* background-color: rgb(206, 202, 206); */
  color: black;
  border: 1px solid lightgrey;
  width: auto;
  height: auto;
  max-width: 500px;
  align-items: flex-start;
  text-align: start;
}

textarea {
  font-size: 15px;
  resize: none;
}
textarea::-webkit-input-placeholder {
  text-align: center;
  line-height: 560px;
}
