.contact-container{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.contact-header{
    margin:0;
    display:block;
}

.contact-header h2{
    margin-bottom: 20px;
}

.content p {
    display: block;
    width: 60vw;
}