.contact-container{
    display:flex;
    width: 100vw;
    height: 30vw;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.7);
}

.contact-header{
    margin:0;
    display:block;
}

.contact-header h2{
    margin-bottom: 20px;
}
