.nav-container {
    display: block;
    border: 0;
    padding: 0;
    background-color:rgba(30, 120, 200, 0.75);
}

.nav-container h2{
    font-weight: lighter;
    padding:0;
    border:0;
    margin:0;
}

.menu {
    display:flex;
    justify-content: space-evenly;
    padding:0;
    margin:0;
}

.header h1 {
    margin: 0px;
    border: 0;
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color:rgba(135, 135, 135, 0.7)
}

a:visited { 
    color:black
}

.content{
    border: 0;
    padding:0;
    min-height: 100vh;
}
